<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.bupt.slms.mapper.AccountWarehouseMapper">
  <resultMap id="BaseResultMap" type="edu.bupt.slms.bean.AccountWarehouse">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="aId" jdbcType="INTEGER" property="aId" />
    <result column="wId" jdbcType="INTEGER" property="wId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, aId, wId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from account_warehouse
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from account_warehouse
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="edu.bupt.slms.bean.AccountWarehouse" useGeneratedKeys="true">
    insert into account_warehouse (aId, wId)
    values (#{aId,jdbcType=INTEGER}, #{wId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="edu.bupt.slms.bean.AccountWarehouse" useGeneratedKeys="true">
    insert into account_warehouse
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aId != null">
        aId,
      </if>
      <if test="wId != null">
        wId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aId != null">
        #{aId,jdbcType=INTEGER},
      </if>
      <if test="wId != null">
        #{wId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.bupt.slms.bean.AccountWarehouse">
    update account_warehouse
    <set>
      <if test="aId != null">
        aId = #{aId,jdbcType=INTEGER},
      </if>
      <if test="wId != null">
        wId = #{wId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.bupt.slms.bean.AccountWarehouse">
    update account_warehouse
    set aId = #{aId,jdbcType=INTEGER},
      wId = #{wId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>