<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.bupt.slms.mapper.ErrorMapper">
  <resultMap id="BaseResultMap" type="edu.bupt.slms.bean.Error">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="des" jdbcType="VARCHAR" property="des" />
    <result column="importance" jdbcType="INTEGER" property="importance" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="aId" jdbcType="INTEGER" property="aId" />
    <result column="pId" jdbcType="INTEGER" property="pId" />
  </resultMap>
  <resultMap id="ErrorWithPole" type="edu.bupt.slms.bean.Error" extends="BaseResultMap">
    <association property="pole" javaType="edu.bupt.slms.bean.Pole">
      <id column="pid" property="id"/>
      <result column="ppos" property="position"/>
      <result column="plat" property="latitude"/>
      <result column="plon" property="longitude"/>
    </association>
  </resultMap>
  <resultMap id="ErrorWithAccountAndPole" type="edu.bupt.slms.bean.Error" extends="ErrorWithPole">
    <association property="account" javaType="edu.bupt.slms.bean.RespAccount">
      <id column="accountid" jdbcType="INTEGER" property="id"/>
      <result column="ausername" property="username"/>
      <result column="aname" jdbcType="VARCHAR" property="name"/>
      <result column="aphone" jdbcType="VARCHAR" property="phone"/>
      <result column="atelephone" jdbcType="VARCHAR" property="telephone"/>
      <result column="aage" jdbcType="INTEGER" property="age"/>
      <result column="agender" jdbcType="VARCHAR" property="gender"/>
      <result column="aidcard" jdbcType="VARCHAR" property="idCard"/>
    </association>
  </resultMap>
  <resultMap id="ErrorWithAll" type="edu.bupt.slms.bean.Error" extends="ErrorWithPole">
    <association property="goodsApply" javaType="edu.bupt.slms.bean.GoodsApply">
      <id column="gaid" property="id"/>
      <result column="gatime" property="time"/>
      <result column="gadetail" property="detail"/>
      <result column="gastatus" property="applyStatus"/>
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    id, `date`, `type`, des, address, importance, `status`, aId, pId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from error
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getErrorByaId" resultMap="BaseResultMap">
    SELECT * FROM error e WHERE e.`aId`=#{aId};
  </select>
    <select id="getTotal" resultType="java.lang.Long">
      select count(*) from error e
      <where>
        <if test="error.id != null and error.id != ''">
          AND e.id = #{error.id}
        </if>
        <if test="error.aId != null and error.aId != ''">
          AND e.aId = #{error.aId}
        </if>
        <if test="error.importance != null and error.importance != ''">
          AND e.importance = #{error.importance}
        </if>
        <if test="error.type != null and error.type != ''">
          AND e.type = #{error.type}
        </if>
        <if test="error.address != null and error.address != ''">
          AND p.`position` = #{error.address}
        </if>
        <if test="error.status != null and error.status != ''">
          AND e.status = #{error.status}
        </if>
        <if test="(error.status == null or error.status == '' ) and part == true">
          AND e.`status`='ready' OR e.`status`='unDistribution'
        </if>
        <if test="dateScope != null and dateScope != ''">
          AND e.date BETWEEN #{dateScope[0]} AND #{dateScope[1]}
        </if>
      </where>
    </select>
  <select id="getErrorByPage" resultMap="ErrorWithAccountAndPole">
    SELECT
    e.*,
    p.id pid,
    p.`position` ppos,
    p.`latitude` plat,
    p.`longitude` plon,
    a.id accountid,
    a.`username` ausername,
    a.`name` aname,
    a.`phone` aphone,
    a.`telephone` atelephone,
    a.`age` aage,
    a.`gender` agender,
    a.`idcard` aidcard
    FROM
    error e
    LEFT JOIN pole p
    ON e.`pId`=p.`id`
    LEFT JOIN account a
    ON e.`aId` = a.`id`
    <where>
      <if test="error.id != null and error.id != ''">
        AND e.id = #{error.id}
      </if>
      <if test="error.aId != null and error.aId != ''">
        AND e.aId = #{error.aId}
      </if>
      <if test="error.importance != null and error.importance != ''">
        AND e.importance = #{error.importance}
      </if>
      <if test="error.type != null and error.type != ''">
        AND e.type = #{error.type}
      </if>
      <if test="error.address != null and error.address != ''">
        AND p.`position` = #{error.address}
      </if>
      <if test="error.status != null and error.status != ''">
        AND e.status = #{error.status}
      </if>
      <if test="(error.status == null or error.status == '' ) and part == true">
        AND e.`status`='ready' OR e.`status`='unDistribution'
      </if>
      <if test="dateScope != null and dateScope != ''">
        AND e.date BETWEEN #{dateScope[0]} AND #{dateScope[1]}
      </if>
    </where>
    ORDER BY
    e.`id` DESC
    <if test="page != null and size != null">
      LIMIT
      #{page},#{size}
    </if>
  </select>
  <select id="getErrorWithPoleByEId" resultMap="ErrorWithPole">
    SELECT
      e.*,
      p.id pid,
      p.`position` ppos,
      p.`latitude` plat,
      p.`longitude` plon
    FROM
      error e
      LEFT JOIN pole p
      ON e.`pId`=p.`id`
    WHERE e.`id`=#{eId};
  </select>
    <select id="getTasksWithAId" resultMap="ErrorWithAll">
      SELECT
        e.*,
        p.`position` ppos,
        p.`latitude` plat,
        p.`longitude` plon,
        ga.`id` gaid,
        ga.`time` gatime,
        ga.`detail` gadetail,
        ga.`apply_status` gastatus
      FROM
        error e
        LEFT JOIN pole p
          ON e.`pId` = p.`id`
        LEFT JOIN goods_apply ga
          ON ga.`error_id` = e.`id`
      WHERE e.`aId` = #{aId}
      ORDER BY e.`id` DESC;
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from error
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="edu.bupt.slms.bean.Error" useGeneratedKeys="true">
    insert into error (`date`, `type`, des, importance, `status`,
      aId, pId)
    values (#{date,jdbcType=TIMESTAMP}, #{type,jdbcType=VARCHAR}, #{des,jdbcType=VARCHAR}, #{importance,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR},
      #{aId,jdbcType=INTEGER},#{pId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="edu.bupt.slms.bean.Error" useGeneratedKeys="true">
    insert into error
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="date != null">
        `date`,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="des != null">
        des,
      </if>
      <if test="importance != null">
        importance,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="aId != null">
        aId,
      </if>
      <if test="pId != null">
        pId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="des != null">
        #{des,jdbcType=VARCHAR},
      </if>
      <if test="importance != null">
        #{importance,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="aId != null">
        #{aId,jdbcType=INTEGER},
      </if>
      <if test="pId != null">
        #{pId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.bupt.slms.bean.Error">
    update error
    <set>
      <if test="date != null">
        `date` = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=VARCHAR},
      </if>
      <if test="des != null">
        des = #{des,jdbcType=VARCHAR},
      </if>
      <if test="importance != null">
        importance = #{importance,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="aId != null">
        aId = #{aId,jdbcType=INTEGER},
      </if>
      <if test="pId != null">
        pId = #{pId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.bupt.slms.bean.Error">
    update error
    set `date` = #{date,jdbcType=TIMESTAMP},
      `type` = #{type,jdbcType=VARCHAR},
      des = #{des,jdbcType=VARCHAR},
      importance = #{importance,jdbcType=INTEGER},
      `status` = #{status,jdbcType=VARCHAR},
      aId = #{aId,jdbcType=INTEGER},
      pId = #{pId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>