<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.bupt.slms.mapper.PipeMapper">
  <resultMap id="BaseResultMap" type="edu.bupt.slms.bean.Pipe">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="start_lng" jdbcType="DOUBLE" property="start_lng" />
    <result column="start_lat" jdbcType="DOUBLE" property="start_lat" />
    <result column="end_lng" jdbcType="DOUBLE" property="end_lng" />
    <result column="end_lat" jdbcType="DOUBLE" property="end_lat" />
    <result column="length" jdbcType="DOUBLE" property="length" />
    <result column="total_holes_num" jdbcType="INTEGER" property="total_holes_num" />
    <result column="avaliable_holes_num" jdbcType="INTEGER" property="avaliable_holes_num" />
  </resultMap>
  <sql id="Base_Column_List">
    id, start_lng, start_lat, end_lng, end_lat, `length`, total_holes_num, avaliable_holes_num
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pipe
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pipe
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="edu.bupt.slms.bean.Pipe" useGeneratedKeys="true">
    insert into pipe (start_lng, start_lat, end_lng, 
      end_lat, `length`, total_holes_num, 
      avaliable_holes_num)
    values (#{start_lng,jdbcType=DOUBLE}, #{start_lat,jdbcType=DOUBLE}, #{end_lng,jdbcType=DOUBLE}, 
      #{end_lat,jdbcType=DOUBLE}, #{length,jdbcType=DOUBLE}, #{total_holes_num,jdbcType=INTEGER}, 
      #{avaliable_holes_num,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="edu.bupt.slms.bean.Pipe" useGeneratedKeys="true">
    insert into pipe
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="start_lng != null">
        start_lng,
      </if>
      <if test="start_lat != null">
        start_lat,
      </if>
      <if test="end_lng != null">
        end_lng,
      </if>
      <if test="end_lat != null">
        end_lat,
      </if>
      <if test="length != null">
        `length`,
      </if>
      <if test="total_holes_num != null">
        total_holes_num,
      </if>
      <if test="avaliable_holes_num != null">
        avaliable_holes_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="start_lng != null">
        #{start_lng,jdbcType=DOUBLE},
      </if>
      <if test="start_lat != null">
        #{start_lat,jdbcType=DOUBLE},
      </if>
      <if test="end_lng != null">
        #{end_lng,jdbcType=DOUBLE},
      </if>
      <if test="end_lat != null">
        #{end_lat,jdbcType=DOUBLE},
      </if>
      <if test="length != null">
        #{length,jdbcType=DOUBLE},
      </if>
      <if test="total_holes_num != null">
        #{total_holes_num,jdbcType=INTEGER},
      </if>
      <if test="avaliable_holes_num != null">
        #{avaliable_holes_num,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.bupt.slms.bean.Pipe">
    update pipe
    <set>
      <if test="start_lng != null">
        start_lng = #{start_lng,jdbcType=DOUBLE},
      </if>
      <if test="start_lat != null">
        start_lat = #{start_lat,jdbcType=DOUBLE},
      </if>
      <if test="end_lng != null">
        end_lng = #{end_lng,jdbcType=DOUBLE},
      </if>
      <if test="end_lat != null">
        end_lat = #{end_lat,jdbcType=DOUBLE},
      </if>
      <if test="length != null">
        `length` = #{length,jdbcType=DOUBLE},
      </if>
      <if test="total_holes_num != null">
        total_holes_num = #{total_holes_num,jdbcType=INTEGER},
      </if>
      <if test="avaliable_holes_num != null">
        avaliable_holes_num = #{avaliable_holes_num,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.bupt.slms.bean.Pipe">
    update pipe
    set start_lng = #{start_lng,jdbcType=DOUBLE},
      start_lat = #{start_lat,jdbcType=DOUBLE},
      end_lng = #{end_lng,jdbcType=DOUBLE},
      end_lat = #{end_lat,jdbcType=DOUBLE},
      `length` = #{length,jdbcType=DOUBLE},
      total_holes_num = #{total_holes_num,jdbcType=INTEGER},
      avaliable_holes_num = #{avaliable_holes_num,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>